/*
CSS created  2020.
I have tried to get all of the styles in order that they appear on the webpage. 

*/


/* Global
------------*/

body {
  background-color: #09bc8a;
  width: 800px;
  margin: 0 auto;
}

h1 {
  background-color: #508991;
  color: white;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  font-family: verdana;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  margin-right: 1em;
}

/* header logo */
#earth  {
  background-image: url(earth-logo.png);
  max-width: 70%;
  height: auto;
  margin-left: 150px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-bottom: 5px;
}

.sub-nav li {
  list-style: none;

}
.sub-nav a {
  text-decoration: none;
}




p {
  letter-spacing: 1px;
  font-size: 17px;
}

div img {
  margin-top: 5px;
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

#menu,
#link {
  background-color: #508991;
  text-decoration: none;
  width: 1rem;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  color: white;
}

#useful-links {
  list-style: none;
  margin-bottom: 20px;
}

#useful-links a {
  text-decoration: none;
}



#vand {
  border: 3px solid #09bc8a;
  width: 185px;
  height: auto;
  margin-left: 15px;
}

blockquote {
  border: 2px solid white;

  background-color: #ccc;
  border-radius: 3px;
  padding: 5px;
  width: 190px;
  float: right;
}

article {
  float: right;
}

#header_map {
  text-align: right;
}
#googleMap {
  float: right;
  margin-bottom: 150px;
  border: 1px solid red;
}

/* form styling for the quiz */

#name {
  width: 15rem;
}

form {
  padding: 10px;
}

@media screen and (max-width: 500px) {

 .wrapper {
   width: 50%;
 }
 aside {
   display: inline;
 }
 blockquote {
  width: 200px;
  position: relative;
  right: 100px;
 }
  
}

